# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Realms--AR-Application-main.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\marco\FILES\Projects\Personal\Realms--AR-Application-main\.idea\.idea.Realms--AR-Application-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
